<!doctype html>
<html xmlns:th="https://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>User Details</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body>
	<nav class="navbar navbar-expand-lg bg-body-tertiary">
		<div class="container-fluid">
			<a class="navbar-brand" href="/save-user">Add User</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
				data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item">
						<a class="nav-link active" aria-current="page" href="viewusers">ViewUser</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Contact us</a>
					</li>
				</ul>

			</div>
		</div>
	</nav>
	<div class="container mt-5">
		<h1>User Details</h1>
		<table class="table table-bordered table-striped">
			<thead>
				<tr>

					<th>Id</th>
					<th>Name</th>
					<th>Email</th>
					<th>DOB</th>
					<th>Phoneno</th>
					<th>Gender</th>
					<th>SSN</th>
					<th>Edit</th>
					<th>Delete</th>
					<th>Active</th>


				</tr>
			</thead>
			<tbody>
				<tr th:each="user:${users}">
					<td th:text="${user.User_Id}"></td>
					<td th:text="${user.Full_Name}"></td>
					<td th:text="${user.Email}"></td>
					<td th:text="${user.Phone_no}"></td>
					<td th:text="${user.Gender}"></td>
					<td th:text="${user.DOB}"></td>
					<td th:text="${user.SSN}"></td>
					<td><a href="#" class="btn btn-primary">Edit</a></td>
					<td><a href="#" class="btn btn-danger">Delete</a></td>
					
						<span th:switch="${user.Active_Sw}">
							<i th:case="y" class="fas fa-check red-text">
					<td><a href="#" class="btn btn-danger">Deactivate</a></td>
					</i>
					<i th:case="n" class="fas fa-times orange-text">
						<td><a href="#" class="btn btn-success">Activate</a></td>
					</i>
					</span>
					

					<!--<span th:switch="${user.Active_Sw}">
						<i th:case="Y" class="fas fa-check red-text">
							<td><a href="#" class="btn btn-danger">Deactive</a></td>
						</i>
						<i th:case="N" class="fas fa-times orange-text">
							<td><a href="#" class="btn btn-success">Active</a></td>
						</i>
					</span>-->

				</tr>
			</tbody>
		</table>
	</div>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
		crossorigin="anonymous"></script>
</body>

</html>